<launch>
    <arg name="model" default="$(find Mapping-and-Navigation-with-TurtleBot3)/urdf/turtlebot3_burger.urdf.xacro" />
    <arg name="gui" default="true" />
    <arg name="rvizconfig" default="$(find Mapping-and-Navigation-with-TurtleBot3)/rviz/localization.rviz" />
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <param name="use_gui" value="$(arg gui)" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true" />

    <!-- Run the EKF Localization node -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
        <rosparam command="load" file="$(find Mapping-and-Navigation-with-TurtleBot3)/config/ekf_localization.yaml" />
    </node>

</launch>